<% @posts.each do |post| %>
  <%= post.id %>
  <a href="/post/<%=post.id%>"><%= post.title %></a>


  <form action="/postvote" method="post">
    <input id="thisone" type="hidden" name="post" value="<%= post.id %>">
    <button class="postvote" type="submit">UpVote</button>
  </form>
    <p> <span id="upvotes<%= post.id %>"><%= post.votecount %></span></p>
  <br><br>
<% end %>