<h1><%= @current_survey.title %></h1>
<form class="survey" method="post" action="/survey/<%=@current_survey.id%>/user/<%=session[:user_id]%>">
  <% @questions.each do |question| %>
  <div class="question_holder">
  <p class="question_title"><%= question.question %></p>

      <% question.question_choices.each do |question_choice| %>
      <span class="true_false"><%= question_choice.choice %> : </span> <input class="radio_display" type="radio" name="<%=question_choice.question.id%>" value="<%=question_choice.id%>">
      <br>

      <% end %>
 </div>
      <% end %>

  <br>
  <input type="submit">
</form>
