 <h1>Welcome back, <%= current_user.name %></h1>

<h2><a href="/survey/<%= current_user.id %>/new">Create Survey</a></h2>
<h3>Complete a survey:</h3>
<ol>
  <% all_surveys.each do |survey| %>
  <li><a href="/survey/<%= survey.id %>/user/<%= current_user.id %>"><%= survey.title %></a></li>
  <% end %>
</ol>




<div id="addinput">
<p>
<input type="text" id="p_new" size="20" name="p_new" value="" placeholder="Input Value" /><a href="#" id="addNew">Add</a>
</p>
</div>
