

 <h1>Welcome back, <%= current_user.name %></h1>
<h2><a href="/survey/<%= current_user.id %>/new">Create Survey</a></h2>






<% current_user.surveys.each do |survey| %>
  <p><%= survey.title %></p>
  <p><%= survey.description %></p>
  <div class = 'results'>
    <form action="/viewresults" method="post">
      <button id='<%=@id%>' type="submit">Results</button>
    </form>
  </div>